<!DOCTYPE html>
<html>
  <head>
    <title>QuoteEditor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen w-full">
    <%= render "layouts/navbar" %>
    <div id="flash" class="fixed top-20 left-[50%] flex items-center flex-col gap-y-2 -translate-x-[50%] max-w-full">
      <%= render "layouts/flash" %>
    </div>
    <p class="alert" class="text-yellow-500"><%= alert %></p>
    <%= yield %>
  </body>
</html>
